@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #000;
  scroll-behavior: smooth;
}

:root {
  --fuente-principal: "IBM Plex Sans", sans-serif;
}

* {
  color: #fff;
}
html,
body {
  font-family: var(--fuente-principal);
}

body {
  font-size: 62.5%;
}

h1 {
  font-size: 4em;
  font-weight: 200;
}
@media (max-width: 720px) {
  h1 {
    font-size: 2.5em;
    font-weight: 200;
  }
}
h3 {
  font-size: 6em;
}

@media (max-width: 720px) {
  h3 {
    font-size: 4em;
  }
}

b {
  font-weight: 500;
}
h3 span {
  font-weight: 200;
  font-style: italic;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

.section3 h3 {
  color: #000;
  font-weight: 600;
}

.section3 span {
  color: #000;
  font-weight: 200;
  font-style: italic;
}

.section4 {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(26, 26, 26, 1) 0%,
    rgba(0, 0, 0, 1) 50%
  );
}

.tarjetaSeccion4 {
  height: 450px;
}

.tarjetaSeccion4 {
  /*   border: 2px solid #fff; */
  border-radius: 200px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 150px;
}

.burbujasSeccion4 {
  width: 350px;
}

@media (max-width: 720px) {
  .burbujasSeccion4 {
    width: 200px;
  }
  .tarjetaSeccion4 {
    height: 100px;
    padding: 0;
  }
  .section4 .contenido {
    display: flex;
    justify-content: center;
  }
  .section4 h3 {
    text-align: center;
  }
}

.tarjetaSeccion4 span {
  font-style: italic;
  font-weight: 200;
}

.telefonoSeccion2 {
  width: 600px;
}

@media (max-width: 720px) {
  .telefonoSeccion2 {
    max-width: 90%;
    margin-bottom: -90px;
  }
}

/* section5 */

/* section6 */
.section6 h3 {
  color: #000;
  font-size: 4em;
}
.section6 h3 span {
  color: #000;
}

@media (max-width: 720px) {
  .text_center_mobil {
    text-align: center;
  }
  .section6 .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  .section6 .degradado span{
    font-size: 1.6em;
  }
  .grafico1{
    margin-top: 20px;
    width: 100%;
  }
  .grafico2{
    margin-bottom: 100px;
  }
}
